{% load static %}
<!DOCTYPE html>
<html lang="en" >

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Poor Man's Twitter</title>
		
		<link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
		<link rel="stylesheet" href="{% static "css/style.css" %}">

	</head>

	<body>
		<div id="tweets-app" class="container">
			<div class="alert alert-danger" v-show="error" role="alert">
			  <button type="button" class="close" v-on:click="error = false" aria-hidden="true">&times;</button>
			  Please check the fields below.
			  <ul id="error-list">
				  <li v-for="(value, key) in errors">
				   	<strong>${key}:</strong> ${value}
				  </li>
				</ul>
			</div>
			<form v-on:submit.prevent="addTweet()">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" v-model="newTweet.name" >
			</div>

			<div class="form-group">
				<label>Tweet</label>
				<input type="name" class="form-control" v-model="newTweet.tweet" >
			</div>
			<button type="submit" class="btn btn-primary">
				Add
			</button>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th v-for="column in columns"><a href="#" v-on:click.prevent.stop="sortBy(column)" v-bind:class="{active: sortKey == column}"> ${column|capitalize} </a></th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="tweet in tweets">
						<td>${tweet.name}</td>
						<td>${tweet.tweet}</td>
						<td>${tweet.created}</td>
					</tr>
				</tbody>
			</table>
			<div class="loading" v-if="loading===true">Loading&#8230;</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
		<script  src="{% static "js/index.js" %}"></script>
	</body>

</html>